<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.humayunafzal.makeyourmark">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />

    <uses-permission android:name="android.permission.CAMERA" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.MakeYourMark"
        android:usesCleartextTraffic="true">
        <activity
            android:name=".OTPVerification"
            android:exported="false" />
        <activity
            android:name=".SearchProducts"
            android:exported="false" />
        <activity
            android:name=".ModifyUserInfoBuyer"
            android:exported="false" />
        <activity
            android:name=".ModifyUserInfoSeller"
            android:exported="false" />
        <activity
            android:name=".ModifyProduct"
            android:exported="false" />
        <activity android:name=".SellerAllProducts" />
        <activity android:name=".SellerOrders" />
        <activity android:name=".BuyerOrders" />
        <activity android:name=".Collections" />
        <activity android:name=".SearchResults" />
        <activity android:name=".AddProduct" />
        <activity android:name=".ProductDetails" />
        <activity android:name=".BuyerMainPage">
        </activity>
        <activity android:name=".SellerMainPage"></activity>
        <activity android:name=".SellerSignup" />
        <activity android:name=".BuyerSignup" />
        <activity android:name=".SignUpOptions" />
        <activity android:name=".SignIn" />
        <activity android:name=".SplashScreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".MainActivity" />
    </application>

</manifest>